.main {
  background-color: white;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 00 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.form input {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button {
  border: none;
  height: 40px;
  width: 40px;
  background: #f04c64;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
